{% extends 'base.html' %}

{% block content %}

<div class="container col-md-4 p-5 my-5 bg-light rounded ">
<form method="POST" action="{% url 'home' %}">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Enter Phone No.</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="phone_num" required>
  </div>
  <p class="fst-italic">or</p>
  <div class="mb-3">
    <label class="form-label">Enter Customer No.</label>
    <input type="number" class="form-control" id="exampleInputPassword1" name="customer_num" required>
  </div>
  <br>
  <div class="d-flex justify-content-between">
    <button  type="submit" class="btn btn-outline-secondary">Next</button>
    
    </a>
  </div> 
</form>



</div>

{% endblock %}
