{% extends 'base.html' %}

{% block content %}
{% csrf_token %}
<div class="container col-md-4 p-5 my-5 bg-light rounded ">
  <form>
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label"> Customer Number: </label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="phone_num" placeholder="{{ record.customer_num }}" disabled required>
    </div>
    <br>
    <div class="mb-3">
      <label class="form-label"> Phone Number: </label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="phone_num" placeholder="{{ record.phone_num }}" disabled required>
    </div>
    <br>
    <div class="mb-3">
      <label class="form-label"> Name: </label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="phone_num" placeholder="{{ record.name }}" disabled required>
    </div>
    <br>
    <div class="mb-3">
      <label class="form-label"> Address: </label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="phone_num" placeholder="{{ record.address }}" disabled required>
    </div>
    <div class="mb-3">
      <label class="form-label"> Plan: </label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="phone_num" placeholder="{{ record.plan }}" disabled required>
    </div>
    <br>

    <div class="d-flex justify-content-between">
      <a class="btn btn-outline-secondary" href="{% url 'home' %}">
      Back
      </a>
      <a class="btn btn-outline-secondary" href="{% url 'payment_method' %}">
      Next
      </a>
    </div> 
  </form>
  
</div>

{% endblock %}