{% extends 'base.html' %}

{% block content %}

<div class="container col-md-4 p-5 my-5 bg-light rounded ">
    <form>
      <div class="mb-3">
        <label for="paymentMethod" class="form-label">Payment Method</label>
        <br>
        <select name="" id="">
          <option disabled="true" selected>Select Payment Method</option>
          <option value="">Gcash</option>
          <option value="">Credit Card</option>
        </select>
      </div>
      <br>
      <div class="d-flex justify-content-between">
        <a class="btn btn-outline-primary" href="{% url 'info' %}">
        Back
        </a>
        <a class="btn btn-outline-primary" href="{% url 'method' %}">
        Next
        </a>
      </div> 
    </form>
    </div>

{% endblock %}