{% extends 'base.html' %}

{% block content %}

<div class="container col-md-4 p-5 my-5 bg-light rounded ">
<form method="POST">
  {% csrf_token %}
  <label for="payment_method" class="pb-4 px-1">Select Payment Method</label>
  <select name="payment_method" id="payment_method" class="form-select">
    <option value="credit">Credit Card</option>
    <option value="gcash">GCash</option>
  </select>

  <br>
  <br>
  <div class="d-flex justify-content-between">
    <a class="btn btn-outline-primary" href="{% url 'info' %}">
    Back
    </a>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
  </div> 
  
</form>
</div>

{% endblock %}